<!-- gallery -->
<div class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Gallery</h2>
          <p>The point of using Lorem Ipsum is that it has a more-or-less</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="tz-gallery">
        <div class="col-sm-12">
          <div class="row">
            <app-gallery-image
              [ngClass]="'col-sm-6 col-md-4'"
              *ngFor="let image of images"
              [image]="image"
            ></app-gallery-image>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end gallery -->
