<!-- banner -->
<section class="banner_main">
  <ngb-carousel #carousel>
    <ng-template ngbSlide *ngFor="let image of sliderImages">
      <div class="carousel-item active">
        <img class="first-slide" src="{{ image }}" alt="First slide" />
        <div class="container"></div>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="banner_text">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="stewart">
            <span>construction</span>
            <h1>Stewart Fitness</h1>
            <p>
              Lorem Ipsum available, but the majority have suffered lteration in
              some.
            </p>
            <app-button text="Contact Us"></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="text-center">
    <button class="carousel-control-prev" (click)="prevSlide()"></button>
    <button class="carousel-control-prev" (click)="nextSlide()"></button>
  </div> -->
</section>
<!-- end banner -->
